@import url('https://fonts.googleapis.com/css2?family=Goldman&family=Noto+Sans:wght@100;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: white;
}

.container{
    border: 1px black solid;
    padding: 5%;
    background-image: linear-gradient(rgba(0,8,51,0.9), rgba(0,8,51,0.6)), url(/Img/treadmill-gym-loft-ko40byqogljiyz5i.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: left ;
}

.search-bar input{
    width: 600px;
    height: 45px;
    background: white;
    align-items: center;
    padding: 2%;
    border-radius: 60px;
}
.container img{
    width: 100px;
    height: 100px;
    padding: 0;
    margin: 0;
}

.container button{
    position: absolute;
    left: 710px;
    top: 104px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.nav-menu ul{
    border: 1px black solid;
    width: 100%;
    height: 50px;
    background-color: black;
    padding: 5px;      
}

.nav-menu li{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    color: white;
    position: relative;
    right: 100px;
    top: 8px;
}

.nav-menu a{
    color: white;
}

.nav-menu li span{
    position: relative;
    left: 210px;
    top: -2px;
}

.login p{
    font-family: 'Courier New', Courier, monospace;
    text-align: justify;
    position: relative;
    left: 100px;
    bottom: 20px;
    color: white;
}

.login span{
    position: relative;
    left: 45px;
    top: 20px;
    color: white;
}

.slider{
    margin: 0 auto;
    width: 1200px;
    height: 400px;
    overflow: hidden;
}

.slides{
    width: 400%;
    height: 400px;
    display: flex;
    position: relative;
    left: 15%;
}

.slides input{
    display: none;
}

.slide{
    width: 25%;
    position: relative;
}

.slide img{
    width: 800px;
    
}

.manual-navigation{
    position: absolute;
    width: 800px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}

.manual-btn{
    border: 2px solid #fff;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    position: relative;
    left:25%;

}

.manual-btn:not(:last-child){
    margin-right: 40px;
}

.manual-btn:hover{
    background: #fff;
}

#radio1:checked ~ .first{
    margin-left: 0;
}

#radio2:checked ~ .first{
    margin-left: -25%;
}

#radio3:checked ~ .first{
    margin-left: -50%;
}

#radio4:checked ~ .first{
    margin-left: -75%;
}